html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem; }

nav {
  font-family: "Fredericka the Great", cursive;
  width: 100%;
  max-height: 60px;
  background-color: #2d1a55;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white; }
  nav .nav-brand {
    margin-left: 20px;
    display: flex;
    align-items: center;
    font-size: 3rem; }
    nav .nav-brand h1 {
      font-weight: normal !important; }
  nav .nav-link i {
    margin-left: 10px;
    margin-right: 20px;
    font-size: 2rem;
    cursor: pointer; }
  nav .nav-link button {
    color: white;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2rem; }

.Auth {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  background: #f0f2f0;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2d1a55, #f0f2f0);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2d1a55, #f0f2f0);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .Auth form {
    color: white;
    width: 420px;
    padding: 40px; }
    .Auth form h1 {
      font-size: 5rem;
      text-align: center;
      letter-spacing: 2px;
      font-weight: normal;
      font-family: "Fredericka the Great", cursive;
      color: white; }
    .Auth form .inputs {
      display: flex;
      flex-direction: column; }
    .Auth form .labels {
      font-size: 2rem;
      padding-top: 10px;
      padding-bottom: 5px; }
    .Auth form input {
      font-size: 1.6rem;
      border: 0.8px solid #2d1a55;
      box-shadow: 2px 2px 2px #2d1a5588;
      height: 30px;
      padding-left: 10px;
      outline: none;
      margin-bottom: 15px;
      font-family: "Open Sans", sans-serif; }
      .Auth form input:hover {
        outline: 1.3px solid #2d1a55; }
    .Auth form #login-link {
      padding-top: 20px;
      text-align: center; }
      .Auth form #login-link button {
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        font-size: 1.5rem;
        color: #2d1a55;
        background-color: white;
        border: 1px solid #2d1a55 !important;
        box-shadow: 2px 2px 2px #2d1a5588;
        text-decoration: none;
        color: black;
        padding: 10px;
        border-radius: 5px; }
        .Auth form #login-link button:hover {
          background: #2d1a55;
          color: white; }
    .Auth form .row {
      font-size: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 20px; }
      .Auth form .row a {
        margin-left: 4px;
        text-decoration: none;
        color: #2d1a55; }
        .Auth form .row a:hover {
          color: #2d1a55a2; }
      .Auth form .row p {
        padding-right: 3px; }

.Home {
  width: 100%; }
  .Home .flex-wrapper {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; }
  .Home .search {
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .Home .search input {
      padding-left: 10px;
      width: 100%;
      height: 40px;
      border: 1px solid #2d1a55;
      border-radius: 10px;
      outline: none; }
    .Home .search i {
      margin-right: 10px;
      color: #2d1a55;
      font-size: 2.7rem; }
    .Home .search button {
      color: white;
      font-size: 3rem;
      width: 40px;
      height: 40px;
      margin: 10px;
      margin-left: 20px;
      background-color: #2d1a55;
      border: none;
      border-radius: 50%;
      outline: none; }
  .Home #first-message {
    margin-top: 220px;
    font-family: "Italianno", cursive;
    font-size: 3.5rem; }
    .Home #first-message h1 {
      font-weight: normal; }
  .Home .note {
    margin-right: 20px;
    margin-bottom: 30px;
    width: 250px;
    height: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    overflow-y: auto;
    font-family: "Indie Flower", cursive;
    box-shadow: 3px 3px 2px #61688a88; }
    .Home .note h2 {
      text-align: center;
      margin-bottom: 0px; }
    .Home .note p {
      flex: 1; }
    .Home .note .buttons {
      display: flex;
      justify-content: space-around;
      font-size: 2rem; }
      .Home .note .buttons i {
        cursor: pointer; }
  .Home .fixed-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    /* Enable scroll if needed */
    background-color: black;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */ }
    .Home .fixed-form-container form {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      padding: 10px 20px;
      background-color: rgba(255, 255, 255, 0.781);
      width: 40vw;
      max-width: 400px;
      min-width: 300px;
      font-family: "Fredericka The Great", sans-serif; }
      .Home .fixed-form-container form h1 {
        text-align: center;
        font-weight: normal;
        font-size: 3rem; }
      .Home .fixed-form-container form .inputs {
        display: flex;
        flex-direction: column; }
        .Home .fixed-form-container form .inputs input {
          margin-bottom: 20px;
          height: 20px; }
        .Home .fixed-form-container form .inputs textarea {
          margin-bottom: 20px; }
        .Home .fixed-form-container form .inputs select {
          height: 30px; }
          .Home .fixed-form-container form .inputs select option {
            background-color: white; }
      .Home .fixed-form-container form .labels {
        font-size: 2rem; }
      .Home .fixed-form-container form h2 {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        font-size: 1.5rem;
        text-align: center;
        font-weight: normal;
        color: red; }
      .Home .fixed-form-container form .buttons {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-evenly; }
        .Home .fixed-form-container form .buttons button {
          padding: 8px;
          background-color: white;
          width: 70px;
          outline: none;
          border: 1px solid rgba(0, 0, 0, 0.555);
          border-radius: 8px;
          margin-bottom: 30px; }
          .Home .fixed-form-container form .buttons button:hover {
            border: none;
            color: white; }
        .Home .fixed-form-container form .buttons #cancel:hover {
          background-color: lightcoral; }
        .Home .fixed-form-container form .buttons #save:hover {
          background-color: lightseagreen; }
